@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .overlap {
    @apply row-span-full col-span-full;
  }
  .dragger {
    @apply bg-neutral;
  }
  .dragger-v {
    @apply dragger cursor-col-resize;
  }
  .dragger-h {
    @apply dragger cursor-row-resize;
  }
  .prompt-inputs {
    @apply flex flex-col gap-2 justify-center overflow-y-auto max-h-[50vh];
  }
  .btn-lxs {
    @apply btn-xs w-9 h-9;
  }
  .scrollable-x {
    @apply min-w-full max-w-0 overflow-x-auto overflow-y-hidden;
  }
  .scrollable-y {
    @apply min-h-full max-h-0 overflow-y-auto overflow-x-hidden;
  }
  .io-modal {
    @apply modal-box flex flex-col max-h-[80%] h-[80%] max-w-[80%] w-[80%];
  }

  /* DaisyUI scales buttons down when focused, meaning that clicks near
  the edge will animate but not fire the click event, which is no good */
  .btn {
    position: relative;
  }
  .btn::after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
  }
  .btn:active::after {
    scale: calc(1 / var(--btn-focus-scale) * 1.01);
  }

  /* DaisyUI's ratings have a similar issue */
  .rating input:focus-visible {
    transform: translateY(0);
  }
  .rating input:active:focus {
    transform: translateY(0);
  }
}

@layer utilities {
  .d6t-disabled-info {
    @apply border-base-200 bg-base-200 placeholder-base-content text-base-content cursor-default placeholder-opacity-40;
  }

  .select-disabled,
  .select:disabled,
  .select[disabled],
  .input-disabled,
  .input:disabled,
  .input[disabled],
  .textarea-disabled,
  .textarea:disabled,
  .textarea[disabled],
  .btn.btn-disabled,
  .btn[disabled],
  .btn:disabled {
    @apply d6t-disabled-info;
  }

  .rating input-disabled,
  .rating input:disabled,
  .rating input[disabled] {
    @apply cursor-default;
  }
}

/* DaisyUI's animations are... bad */
@keyframes button-pop {
}
@keyframes rating-pop {
  0% {
    transform: scale(1.05);
  }
  to {
    transform: scale(1);
  }
}
